<!doctype html>
html
    head
        include ./commons/header.pug
        link(rel="stylesheet" href="/stylesheets/itineraire-page.css")
    body
      include ./commons/navbar.pug
      <div class="modal" tabindex="-1"id="myModal">
        <div class="modal-dialog modal-lg" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Légende</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              .container 
                .shape-1 
                .title-description
                  <h5 class="modal-title">REV</h5>
                  <p>Ensemble de pistes cyclables protégées qui relie divers points d'intérêt sur l'île de montréal </p>
              .container 
                .shape-2 
                .title-description
                  <h5 class="modal-title">Voie partagée</h5>
                  <p>Des pistes cyclabes délimitées ou des rues partagées par les cyclistes et les automobilistes </p>
              .container 
                .shape-3 
                .title-description
                  <h5 class="modal-title">Voie protégée</h5>
                  <p>Une voie distincte, séparée par un élément physique de  la circulation motorisée </p>
              .container 
                .shape-4 
                .title-description
                  <h5 class="modal-title">Sentier polyvalent</h5>
                  <p>Un chemin en dehors de la route ou le long de celle-ci, où les piétons et les cyclistes peuvent circuler.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        .d-flex.flex-row

            .sectionGauche
                h2.titre #{title}
                p.description Le réseau clyclable de Montréal est composé de X Km de  voies  cyclable
                h3.reseau Réseaux
                div.btn-group-horizontal(role="group" aria-label="Vertical radio toggle button group")
                    input(type="radio" class="btn-check" name="vbtn-radio"
                        id="btn-saisonnier" autocomplete="off" checked)
                    label(class="btn btn-outline-primary" for="btn-saisonnier") Saisonnier

                    input(type="radio" class="btn-check" name="vbtn-radio"
                        id="btn-4saisons" autocomplete="off")
                    label(class="btn btn-outline-primary" for="btn-4saisons") 4 Saisons

                div.typeDeVoie
                    h3 Types de voie
                    div.form-check
                        input(class="form-check-input" type="checkbox" name="vProtege"
                            id="vProtege" value="vpr")
                        label(class="form-check-label" for="vProtege") Voies protégées
                    div.form-check
                        input(class="form-check-input" type="checkbox" name="vPartage"
                            id="vPartage" value="vpa")
                        label(class="form-check-label" for="vPartage") Voies partagées

                div.date-picker
                    h3 Les voies les plus populaires
                    div.d-flex.flex-column
                        div
                            label(for="populaireDebut") De:
                            input(type="date" id="populaireDebut" name="populaireDebut" class="form-control" onchange="updateMapWithDates()")
                        div
                            label(for="populaireFin") À:
                            input(type="date" id="populaireFin" name="populaireFin" class="form-control" onchange="updateMapWithDates()")

            .sectionDroite
                .container-fluid
                  img(src="/images/error_black.png", alt="" class="popup-icon" id="popupIcon")
                  div(id="map")

      

        include ./commons/footer.pug
<script src="https://cdn.jsdelivr.net/npm/ol@v10.4.0/dist/ol.js"></script>
script(src="/javascript/itineraire.js")



