<!doctype html>
html
    head
        include ./commons/header.pug
        include ./commons/navbar.pug
        link(rel="stylesheet" href="/stylesheets/itineraire-page.css")
    body
        div.d-flex.flex-row
            div.sectionGauche
                h2.titre #{title}
                p.description Le réseau clyclable de Montréal est composé de X Km de  voies  cyclable
                h3.reseau Réseaux
                div.btn-group-horizontal(role="group" aria-label="Vertical radio toggle button group")
                    input(type="radio" class="btn-check" name="vbtn-radio"
                        id="btn-saisonnier" autocomplete="off" checked)
                    label(class="btn btn-outline-primary" for="btn-saisonnier") Saisonnier

                    input(type="radio" class="btn-check" name="vbtn-radio"
                        id="btn-4saisons" autocomplete="off" checked)
                    label(class="btn btn-outline-primary" for="btn-4saisons") 4 Saisons

                div.typeDeVoie
                    h3 Types de voie
                    div.form-check
                        input(class="form-check-input" type="checkbox" name="vProtege"
                            id="vProtege" value="option2")
                        label(class="form-check-label" for="vProtege") Voies protégées
                    div.form-check
                        input(class="form-check-input" type="checkbox" name="vPartage"
                            id="vPartage" value="option2")
                        label(class="form-check-label" for="vPartage") Voies partagées

                div.date-picker
                    h3 Les voies les plus populaires
                    div.d-flex.flex-column
                        div
                            label(for="debut") De:
                            input(type="date" id="debut" name="debut"
                                class="form-control")
                        div
                            label(for="fin") À:
                            input(type="date" id="fin" name="fin"  class="form-control")



            div.sectionDroite
                div.container-fluid
                    iframe(src="https://www.google" +
                    ".com/maps/embed?pb=!1m18!1m12!1m3!1d178787.81912808729!2d-73" +
                    ".71187335000002!3d45.5591827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4" +
                    "f13.1!3m3!1m2!1s0x4cc91a541c64b70d%3A0x654e3138211fefef!2zTW9ud" +
                    "HLDqWFsLCBRQw!5e0!3m2!1sfr!2sca!4v1738034834402!5m2!1sfr!2sca"
                        width="800" height="600" style="border:1px;"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

        include ./commons/footer.pug




